/* .App {
  text-align: center;
} */

body {
  font-family: "Montserrat", sans-serif;
}

.App-logo {
  width: 120px;
}

.nav-dropdown-main .btn.btn-primary {
  background: none;
  color: black;
  border-radius: 30px;
}