.card {
  max-width: 260px;
  max-height: 250px;
  min-width: 260px;
  box-sizing: border-box;
  cursor: pointer;
  border: none;
  position: relative;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.cardBody {
  padding: 0;
}

.cardImage {
  border-radius: 6px;
  max-height: 180px;
  margin-bottom: 10px;
}

.cardTitle {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}

.cardDesc {
  font-weight: 300;
  font-size: 14px;
  margin: 0;
}

.amountSpan {
  font-weight: 700;
}

.priceCont {
  font-size: 14px;
}

.ratingStar {
  color: #f5395c;
}

.rating {
  font-weight: 300;
  font-size: 12px;
  margin: 0px 2px;
}

.numrated {
  font-weight: 300;
  color: #222;
  font-size: 12px;
  margin: 0px 2px;
}

.star {
  background-color: #dd0f62;
  border-radius: 4px;
  font-size: 16px;
  height: 25px;
  width: 36px;
  line-height: 23px;
  margin: 0px 10px;
}

.heart {
  position: absolute;
  top: 1px;
  right: 5px;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.5);
}

.pagerNumber {
  font-size: 13px;
  font-weight: 300;
}
