.entityTitle {
    font-size: 18px;
    font-weight: bold;
}

.amneityItem {
    font-weight: 300;
    padding: 10px;
}

.showAllBtn {
    background-color: cornsilk;
    margin: 20px;
}

.amenetiesModal {
    max-width: 800px;
}