.ratingStar {
    color: #f5395c;
}

.rating {
    font-weight: 300;
    font-size: 12px;
    margin: 0px 2px;
}

.numrated {
    font-weight: 300;
    color: #222;
    font-size: 12px;
    margin: 0px 2px;
}

.alertLink {
    font-weight: 500;
    color: #222222;
    text-decoration: underline !important;
    font-size: 14px;
}

.hostAvatarContainer {
    width: 50px;
    height: 50px;
}

.hostAvatarImage {
    width: 100%;
    border-radius: 50%;
}

.hostName {
    font-weight: 700;
    margin-bottom: 2px;
}

.hostDate {
    font-weight: 300;
    font-size: 14px;
}

.entityTitle {
    font-size: 18px;
}

.entityDetailPara {
    font-weight: 300;
    font-size: 14px;
}