.reviewContainer {
    margin-top: 20px;
    max-width: 900px;
}

.reviewerAvatarContainer {
    width: 50px;
    height: 50px;
}

.reviewerAvatarImage {
    width: 100%;
    border-radius: 50%;
}

.reviewerName {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}

.reviewedDate {
    font-weight: 300;
    font-size: 12px;
}

.reviewText {
    margin-top: 8px;
    font-weight: 400;
    font-size: 14px;
}

.progressDiv {
    width: 120px;
    height: 3px;
    background: #ddd;
    border-radius: 8px;
    position: relative;
}

.progressPercentage {
    position: absolute;
    background: black;
    height: 3px;
}

.progressRatingNumber {
    font-size: 12px;
    margin-left: 20px;
}

.ratingStar {
    color: #FF5A5F;
}